<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="Fluid"> <action name="Execute">
				<execute>fluid</execute>
			</action> </item>
			<item label="GNU Octave"> <action name="Execute">
				<execute>xterm -e octave</execute>
			</action> </item>
			<item label="IDLE"> <action name="Execute">
				<execute>idle</execute>
			</action> </item>
			<item label="OpenJDK Monitoring &amp; Management Console"> <action name="Execute">
				<execute>jconsole</execute>
			</action> </item>
			<item label="OpenJDK Policy Tool"> <action name="Execute">
				<execute>policytool</execute>
			</action> </item>
			<item label="Python"> <action name="Execute">
				<execute>xterm -e python</execute>
			</action> </item>
			<item label="Qt4 Assistant"> <action name="Execute">
				<execute>assistant-qt4</execute>
			</action> </item>
			<item label="Qt4 Designer"> <action name="Execute">
				<execute>designer-qt4</execute>
			</action> </item>
			<item label="Qt4 Linguist"> <action name="Execute">
				<execute>linguist-qt4</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="AA Fire"> <action name="Execute">
				<execute>xterm -e aafire -driver slang</execute>
			</action> </item>
			<item label="Nano"> <action name="Execute">
				<execute>xterm -e nano</execute>
			</action> </item>
			<item label="Vi"> <action name="Execute">
				<execute>xterm -e vi</execute>
			</action> </item>
			<item label="Vim"> <action name="Execute">
				<execute>xterm -e vim</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<menu id="9" label="Adventure">
				<item label="Sclient"> <action name="Execute">
					<execute>sclient</execute>
				</action> </item>
			</menu>
			<menu id="10" label="Arcade">
				<item label="PacMan"> <action name="Execute">
					<execute>pacman</execute>
				</action> </item>
			</menu>
			<menu id="11" label="Board">
				<item label="Monopoly"> <action name="Execute">
					<execute>xterm -e monop</execute>
				</action> </item>
			</menu>
		</menu>
		<menu id="6" label="Graphics">
			<item label="Feh"> <action name="Execute">
				<execute>feh</execute>
			</action> </item>
			<item label="GNU Image Manipulation Program"> <action name="Execute">
				<execute>gimp-2.8</execute>
			</action> </item>
			<item label="Image Viewer"> <action name="Execute">
				<execute>gpicview</execute>
			</action> </item>
			<item label="The GIMP"> <action name="Execute">
				<execute>gimp</execute>
			</action> </item>
			<item label="XGlyph"> <action name="Execute">
				<execute>xglyph</execute>
			</action> </item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
			<item label="Banshee Media Player"> <action name="Execute">
				<execute>banshee --redirect-log</execute>
			</action> </item>
			<item label="Gnash SWF Viewer"> <action name="Execute">
				<execute>gnash-gtk-launcher</execute>
			</action> </item>
			<item label="VLC media player"> <action name="Execute">
				<execute>vlc</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="Chromium"> <action name="Execute">
				<execute>chromium</execute>
			</action> </item>
			<item label="FireFox"> <action name="Execute">
				<execute>firefox</execute>
			</action> </item>
			<item label="FTP"> <action name="Execute">
				<execute>xterm -e ftp</execute>
			</action> </item>
			<item label="Irssi"> <action name="Execute">
				<execute>xterm -e irssi</execute>
			</action> </item>
			<item label="Mail"> <action name="Execute">
				<execute>xterm -e mail</execute>
			</action> </item>
			<item label="Mail Reader"> <action name="Execute">
				<execute>exo-open --launch MailReader</execute>
			</action> </item>
			<item label="Talk"> <action name="Execute">
				<execute>xterm -e talk</execute>
			</action> </item>
			<item label="Telnet"> <action name="Execute">
				<execute>xterm -e telnet</execute>
			</action> </item>
			<item label="TkVNC"> <action name="Execute">
				<execute>xterm -e tkvnc</execute>
			</action> </item>
			<item label="unison"> <action name="Execute">
				<execute>unison-x11</execute>
			</action> </item>
			<item label="Web Browser"> <action name="Execute">
				<execute>exo-open --launch WebBrowser</execute>
			</action> </item>
		</menu>
		<menu id="3" label="Office">
			<item label="Document Viewer"> <action name="Execute">
				<execute>evince</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="Dropbox"> <action name="Execute">
				<execute>dropboxd</execute>
			</action> </item>
			<item label="FontForge"> <action name="Execute">
				<execute>fontforge</execute>
			</action> </item>
			<item label="QT V4L2 test Utility"> <action name="Execute">
				<execute>qv4l2</execute>
			</action> </item>
			<item label="TrueCrypt"> <action name="Execute">
				<execute>truecrypt</execute>
			</action> </item>
		</menu>
		<menu id="4" label="Science">
			<item label="Gnuplot"> <action name="Execute">
				<execute>xterm -e gnuplot</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="Thunar File Manager"> <action name="Execute">
				<execute>thunar</execute>
			</action> </item>
			<item label="UXTerm"> <action name="Execute">
				<execute>uxterm</execute>
			</action> </item>
			<item label="Xfce Terminal"> <action name="Execute">
				<execute>xfce4-terminal</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Adobe Flash Player"> <action name="Execute">
						<execute>flash-player-properties</execute>
					</action> </item>
				</menu>
				<item label="Customize Look and Feel"> <action name="Execute">
					<execute>lxappearance</execute>
				</action> </item>
				<item label="File Manager"> <action name="Execute">
					<execute>thunar-settings</execute>
				</action> </item>
				<item label="NVIDIA X Server Settings"> <action name="Execute">
					<execute>nvidia-settings</execute>
				</action> </item>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Panel"> <action name="Execute">
					<execute>xfce4-panel --preferences</execute>
				</action> </item>
				<item label="Panel tint2"> <action name="Execute">
					<execute>tint2conf</execute>
				</action> </item>
				<item label="Preferred Applications"> <action name="Execute">
					<execute>exo-preferred-applications</execute>
				</action> </item>
				<item label="Removable Drives and Media"> <action name="Execute">
					<execute>thunar-volman-settings</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="Bulk Rename"> <action name="Execute">
				<execute>/usr/lib/Thunar/ThunarBulkRename</execute>
			</action> </item>
			<item label="dconf Editor"> <action name="Execute">
				<execute>dconf-editor</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e /usr/bin/pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree.x11</execute>
			</action> </item>
			<item label="Top"> <action name="Execute">
				<execute>xterm -e top</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="About Xfce"> <action name="Execute">
				<execute>xfce4-about</execute>
			</action> </item>
			<item label="Application Finder"> <action name="Execute">
				<execute>xfce4-appfinder</execute>
			</action> </item>
			<item label="File Manager"> <action name="Execute">
				<execute>exo-open --launch FileManager</execute>
			</action> </item>
			<item label="Gentoo"> <action name="Execute">
				<execute>gentoo</execute>
			</action> </item>
			<item label="Info"> <action name="Execute">
				<execute>xterm -e info</execute>
			</action> </item>
			<item label="Run Program..."> <action name="Execute">
				<execute>xfce4-appfinder --collapsed</execute>
			</action> </item>
			<item label="Screenshot"> <action name="Execute">
				<execute>xfce4-screenshooter</execute>
			</action> </item>
			<item label="Terminal Emulator"> <action name="Execute">
				<execute>exo-open --launch TerminalEmulator</execute>
			</action> </item>
			<item label="Xclock (analog)"> <action name="Execute">
				<execute>xclock -analog</execute>
			</action> </item>
			<item label="Xclock (digital)"> <action name="Execute">
				<execute>xclock -digital -update 1</execute>
			</action> </item>
			<item label="Xclock (digital)"> <action name="Execute">
				<execute>xclock -digital</execute>
			</action> </item>
			<item label="Xev"> <action name="Execute">
				<execute>xterm -e xev</execute>
			</action> </item>
			<item label="Xkill"> <action name="Execute">
				<execute>xkill</execute>
			</action> </item>
			<item label="Xrefresh"> <action name="Execute">
				<execute>xrefresh</execute>
			</action> </item>
			<item label="Xsetroot"> <action name="Execute">
				<execute>xsetroot</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
